/* Шрифты на всей странице */

* {
  font-family: "Montserrat", sans-serif;
}

/* Фоновый рисунок */

body {
  background-image: url(mats/b.png);
  margin: 0;
  /* адаптивный отступ от края страницы*/
}

/* название */

#title {
  font-size: 75%;
  font-weight: light;
  font-style: regular;
  text-transform: uppercase;
  color: #272f31;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Меню */

nav {
  margin: auto;
  max-width: 712px;
  width: 100%;
}

#checkbox-menu,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 1s;
  color: #615d4a;
  line-height: 1;
  color: #a39c90;
  cursor: pointer;
}

.menu li a:hover {
  font-weight: bold;
  color: #615d4a;
  transform: scale(1.2);
  font-size: 110%;
}

@media screen and (max-width: 710px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18 px;
    lineheight: 40 px;
    width: 100%;
    color: #000;
    background: #a39c90;
    transition: all 0.1s linear;
  }

  .toggle:hover {
    background: #a39c90;
  }

  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 350px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height 0.3s linear;
  }

  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }

  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
}

#kaban {
  padding-top: 230px;
}

#kaban img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;

  transition: 1s;
}

#kaban img:hover {
  transform: scale(1.1);
}

#acorns {
  margin-top: 20px;
}

#acorns h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 300%;
  font-style: bolder;
  color: #a39c90;
}

hr {
  margin-top: 20px;
  height: 5px;
  border: none;
  color: #272f31;
  background-color: #615d4a;
  width: 20%;
}

/* Картинки адаптивные

Рвбота с блоком где лежат картинки
Название блока .title_img

Ставим маргин (внешние отступы)
отступ от верхнего раздела - 25 пикселей
отступ о нижнего раздела - 25 пикселей

Ставим максимальную ширину отображения
раздела - 712 пикселей.

Далее устанавливаем размер раздела по умлочанию -100%

Показываем как отображать элементы, исполдьзуем
атрибут display(отображение) со свойством flex -
теперь элементы все жлементы во всех родительских дивах
(если они есть) становя в ряд и стают резиновыми
ведёт себя как блочный элемент. При рассчете ширины блоков 
приоритет у раскладки (при недостаточной ширине блоков контент может
 вылезать за границы).

 Выравниваем флекс элементы внутри контейнера перпендикулярно
 (вертикально) по линии поперечной оси при помощи элемента align - items
в значении center

Распределяем свободное пространство между элементами (не учитывается
уже имеющиеся margin и padding( они уже считаются частью жлемента).
В данном случае распределяем его по центру при помощи атрибута 
justify-content в положении center


 */

.title_img {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Работаем с картинками в разделе title_img
Устанавливаем их ширину по умолчанию
Это 15 процентов от реальной ширины картинок.

Устанавливаем отступ между картинками при помощи
атрибута padding

 */

.title_img img {
  width: 10%;
  padding: 6%;
}

.art {
  display: flex;
}

.art p {
  margin: 30px;
  width: 30%;
}

.bold {
  font-size: 130%;
  font-weight: bolder;
  color: black;
}
