/* Шрифты на всей странице */

* {
  font-family: "Source Sans Pro", sans-serif;
}

/* Фоновый рисунок */

body {
  background-image: url(mats/b.png);
  margin: 10px;
  /* адаптивный отступ от края страницы*/
}

/* название */

#title {
  font-size: 75%;
  font-weight: light;
  font-style: regular;
  text-transform: uppercase;
  color: #272f31;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Меню */

nav {
  margin: auto;
  max-width: 712px;
  width: 100%;
}

#checkbox-menu,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 1s;
  color: #615d4a;
  line-height: 1;
  color: #a39c90;
  cursor: pointer;
}

.menu li a:hover {
  font-weight: bold;
  color: #615d4a;
  transform: scale(1.2);
  font-size: 110%;
}

#kaban {
  padding-top: 230px;
}

#kaban img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;

  transition: 1s;
}

#kaban img:hover {
  transform: scale(1.1);
}

#acorns {
  margin-top: 60px;
}

#acorns h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 300%;
  font-style: bolder;
  color: #a39c90;
}

#portfolio-title {
  margin-top: 60px;
}

#portfolio-title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 300%;
  font-style: bolder;
  color: #a39c90;
}

hr {
  margin-top: 20px;
  height: 5px;
  border: none;
  color: #272f31;
  background-color: #615d4a;
  width: 20%;
  margin-bottom: 50px;
}

.specialize-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 60px;
}

.card img {
  width: 50%;
}

.underline {
  font-size: 100%;
  font-weight: bolder;
  color: black;
}

.specialize-cards {
  display: flex;
  justify-content: space-between;
}

.text-container,
.portfolio-container {
  width: 85%;
  margin: 0 auto;
}

.text-paragraps,
.middle-p {
  display: flex;
  justify-content: space-between;
  line-height: 180%;
}

.paragraph {
  margin: 0 30px;
}

.first-paragraph {
  font-size: 140%;
  color: black;
  text-align: right;
}

.second-paragraph {
  color: #9c9ca3;
}

.specialize-cards img {
  transition: 1s;
}

.specialize-cards img:hover {
  transform: scale(1.1);
}

.portfolio-description {
  color: #a39c90;
}

.portfolio-description {
  margin-top: 0;
}

.portfolio-header {
  margin-bottom: 0;
  font-size: 130%;
}

.portfolio-container {
  width: 700px;
}

.portfolio-list {
  position: absolute;

  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list-item {
  margin: 0 60px;
  text-align: center;
}

.portfolio-description {
  transition: 1s;
}

.portfolio-description:hover {
  color: #272f31;
}

@media screen and (max-width: 1000px) {
  .text-paragraps {
    display: block;
  }

  .second-paragraph {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .first-paragraph {
    text-align: left;
  }

  #portfolio-title h2,
  #acorns h2 {
    font-size: 200%;
  }

  .portfolio-header {
    margin-bottom: 0;
    font-size: 110%;
  }

  .portfolio-container {
    width: 470px;
  }

  .portfolio-list {
    position: absolute;

    width: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-list-item {
    margin: 0 30px;
    text-align: center;
  }
}

@media screen and (max-width: 710px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18 px;
    lineheight: 40px;
    width: 100%;
    color: #000;
    background: #a39c90;
    transition: all 0.1s linear;
  }

  .toggle:hover {
    background: #a39c90;
  }

  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 350px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height 0.3s linear;
  }

  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }

  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }

  .specialize-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottom-card {
    width: 128px;
    margin: 0 auto;
  }

  .specialize-cards img {
    width: 20%;
  }

  #acorns h2 {
    font-size: 200%;
  }

  hr {
    height: 3px;
  }

  #kaban {
    padding-top: 130px;
  }

  .text-paragraps,
  .portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .second-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .first-paragraph {
    text-align: left;
  }

  #portfolio-title h2,
  #acorns h2 {
    font-size: 150%;
  }

  .portfolio-header,
  .portfolio-description {
    text-align: center;
  }
}
